/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*==============================================================================================================
html, body
=================================================================================================================*/
/* line 14, ../sass/screen.scss */
html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

/*===========================================================================================================
header
============================================================================================================*/
/* line 31, ../sass/screen.scss */
.header {
  height: 80px;
  position: static;
  border-bottom: 1px dashed grey;
}
/* line 35, ../sass/screen.scss */
.header svg {
  width: 100px;
  margin-top: 10px;
  padding: 0 25px;
  height: 50px;
}
/* line 40, ../sass/screen.scss */
.header svg .inside {
  fill: #bcbcad;
  fill-opacity: 1;
}
/* line 44, ../sass/screen.scss */
.header svg .init {
  fill: #595963;
  fill-opacity: 1;
}
/* line 49, ../sass/screen.scss */
.header svg .init:hover, .header svg .inside:hover {
  fill: #1f55ff;
  fill-opacity: 0.5;
}

/*============================================================================================================
hamburger icon
=============================================================================================================*/
/* line 59, ../sass/screen.scss */
.header_icon {
  position: relative;
  display: block;
  float: right;
  height: 80px;
  width: 50px;
  height: 80px;
  cursor: pointer;
}
/* line 67, ../sass/screen.scss */
.header_icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  height: 0;
  top: 14px;
  left: 16px;
  -moz-box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
  -webkit-box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
  box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
}

/*=========================================================================================================
hidden menu
===========================================================================================================*/
/* line 83, ../sass/screen.scss */
.container-top .menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #34667e;
  width: 250px;
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 92, ../sass/screen.scss */
.container-top .menu a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid grey;
}

/*============================================================================================================
menu desktop
==============================================================================================================*/
/* line 104, ../sass/screen.scss */
.menu-desktop {
  display: none;
}

/*=================================================================================================================
visible menu
when the body have a with side bar class
==================================================================================================================*/
/* line 112, ../sass/screen.scss */
.with--sidebar .site-pusher {
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}
/* line 115, ../sass/screen.scss */
.with--sidebar .site-cache {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/*============================================================================================================
container
===============================================================================================================*/
/* line 127, ../sass/screen.scss */
.site-pusher, .site-container {
  height: 100%;
}

/* line 130, ../sass/screen.scss */
.site-pusher {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 134, ../sass/screen.scss */
.site-container {
  overflow: hidden;
}

/* line 137, ../sass/screen.scss */
.site-content {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 147, ../sass/screen.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 148, ../sass/screen.scss */
.site-content {
  padding-top: 30px;
}

/* line 151, ../sass/screen.scss */
.border {
  border-bottom: 1px dashed grey;
}

/*===========================================================================================================
my picture
==============================================================================================================*/
/* line 157, ../sass/screen.scss */
.figure {
  display: none;
}

/*===========================================================================================================
article
=======================================================================================================*/
/* line 163, ../sass/screen.scss */
.description {
  padding: 0;
  margin: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 167, ../sass/screen.scss */
.description h1 {
  font-size: 24px;
}
/* line 170, ../sass/screen.scss */
.description h2 {
  font-size: 24px;
}
/* line 172, ../sass/screen.scss */
.description h2 em {
  font-size: 16px;
  color: #C4B2FF;
}
/* line 177, ../sass/screen.scss */
.description img {
  width: 50px;
  margin: 30px;
}
/* line 181, ../sass/screen.scss */
.description p {
  color: #C4B2FF;
}
/* line 184, ../sass/screen.scss */
.description .simplon {
  overflow: auto;
}
/* line 186, ../sass/screen.scss */
.description .simplon img {
  height: 50px;
  width: 50px;
  float: left;
}

/*=============================================================================
card
==============================================================================*/
/* line 197, ../sass/screen.scss */
.card .content-image {
  cursor: pointer;
  height: 150px;
  width: 240px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 202, ../sass/screen.scss */
.card .content-image:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.5;
}
/* line 205, ../sass/screen.scss */
.card .content-image:hover .image {
  margin: auto auto;
  height: 30px;
  width: 30px;
  opacity: 1;
  content: url("../../img/link-3.svg");
}
/* line 214, ../sass/screen.scss */
.card .first {
  background: url("../../img/archiduchesse_s.png");
}
/* line 217, ../sass/screen.scss */
.card .second {
  background: url("../../img/leboncoin_s.png");
}
/* line 220, ../sass/screen.scss */
.card .third {
  background: url("../../img/coachSporstif_s.png");
}
/* line 223, ../sass/screen.scss */
.card .fourth {
  background: url("../../img/airbnb_s.png");
}
/* line 226, ../sass/screen.scss */
.card .card-title {
  font-size: 15px;
}
/* line 229, ../sass/screen.scss */
.card .card-text {
  font-size: 10px;
  color: grey;
}

/*==============================================================================
footer
================================================================================*/
/* line 237, ../sass/screen.scss */
footer {
  border-top: 1px dashed grey;
  background-color: #CCCCCC;
}
/* line 239, ../sass/screen.scss */
footer h4 {
  font-size: 20px;
}
/* line 243, ../sass/screen.scss */
footer .dashed {
  border-left: 1px dashed grey;
}
/* line 246, ../sass/screen.scss */
footer img {
  height: 30px;
}
/* line 250, ../sass/screen.scss */
footer .article-footer p {
  font-size: 10px;
}

/*===========================================================================
tablet format
===============================================================================*/
/*===============================================================================
tablet landscape format
==================================================================================*/
@media only screen and (min-width: 1024px) {
  /*=================================================================
  menu hidden
  ===================================================================*/
  /* line 14, ../sass/_tablet.scss */
  .menu-desktop {
    display: block;
    height: 66px;
    line-height: 66px;
    float: right;
    padding: 0 25px;
  }
  /* line 20, ../sass/_tablet.scss */
  .menu-desktop a {
    padding: 0 10px;
  }

  /*=====================================================================
header
  ====================================================================*/
  /* line 27, ../sass/_tablet.scss */
  .header {
    border-bottom: 1px dashed grey;
  }

  /* line 30, ../sass/_tablet.scss */
  .header_logo {
    padding: 0 40px;
  }

  /* line 33, ../sass/_tablet.scss */
  .header_icon {
    display: none;
  }

  /*=========================================================================
  my picture
  =============================================================================*/
  /* line 39, ../sass/_tablet.scss */
  .figure {
    display: block;
  }

  /*============================================================================
description
  ==============================================================================*/
  /* line 46, ../sass/_tablet.scss */
  .title h1 {
    font-size: 45px;
  }
  /* line 49, ../sass/_tablet.scss */
  .title p {
    font-size: 25px;
  }
}
/*==============================================================
desktop format
================================================================*/
@media only screen and (min-width: 1200px) {
  /* line 6, ../sass/_desktop.scss */
  .header {
    position: static;
    top: 80px;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 66px;
    border-bottom: 1px dashed black;
  }

  /* line 15, ../sass/_desktop.scss */
  .container-top {
    width: 80%;
    margin: 0 auto;
  }
  /* line 18, ../sass/_desktop.scss */
  .container-top .header_logo {
    padding: 0 25px;
    float: left;
  }
  /* line 22, ../sass/_desktop.scss */
  .container-top .header_icon {
    display: none;
  }
  /* line 25, ../sass/_desktop.scss */
  .container-top .menu {
    float: right;
  }
  /* line 27, ../sass/_desktop.scss */
  .container-top .menu a {
    padding: 0 10px;
    text-transform: uppercase;
  }
  /* line 30, ../sass/_desktop.scss */
  .container-top .menu a:hover {
    color: grey;
  }

  /* line 36, ../sass/_desktop.scss */
  .media {
    background-image: url("../../img/W7-GC-Accueil-apps_s.png");
    background-size: cover;
    width: 400px;
    height: 280px;
  }
  /* line 41, ../sass/_desktop.scss */
  .media .carousel-item {
    margin-top: 30px;
    margin-left: 15px;
    padding-bottom: 10px;
    width: 380px;
    height: 240px;
  }
}
