/*==============================================================
desktop format
================================================================*/
@media only screen and (min-width: 1200px) {

  .header {
    position: static;
    top: 80px;
    left: 0;
    right: 0;
    height: $height-header;
    line-height: 66px;
    border-bottom: 1px dashed black;
  }
  .container-top{
    width: 80%;
    margin: 0 auto;
    .header_logo {
      padding: 0 25px;
      float: left;
    }
    .header_icon {
      display: none;
    }
    .menu {
      float: right;
      a {
        padding: 0 10px;
        text-transform: uppercase;
        &:hover {
          color: grey;
        }
      }
    }
  }
}