$height-header:70px;
$menu-width:250px !default;
a{
  text-decoration: none;
  color: inherit;
}
.header{
  position: static;
  left: 0;
  right: 0;
  height: $height-header;
  line-height: 66px;
  border-bottom: 1px dashed black;
}
.header_logo{
  padding: 0 25px;
  float: left;
  img{
    height: 60px;
  }
}
.menu{
  float: right;
  a{
    padding: 0 10px;
    text-transform: uppercase;
    &:hover{
      color: grey;
    }
  }
}
/*==============================================================
mobile
================================================================*/
@media only screen and (max-width: 768px){
  .site-pusher, .site-container{
    height: 100%;
  }
  .site-pusher{
    @include transition-duration(0.4s);
    @include transform(translateX(0px));
  }
  .site-container{
    overflow: hidden;
  }
  .site-content{
    position: absolute;
    top:$height-header;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header{
    position: static;
  }
    .header_icon{
      position: relative;
      display: block;
      float:right;
      width: 50px;
      height: $height-header;
      cursor: pointer;
      &:after{
        content: '';
        position: absolute;
        display: block;
        width: 22px;
        height: 0;
        top: 14px;
        left: 16px;
        @include box-shadow(0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black);
      }
    }
  .menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #34667e;
    width: $menu-width;
    @include transform (translateX($menu-width));
    @include transition-duration(0.4s);
    a{
      display: block;
      text-align: center;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid grey;
    }
  }
  .with--sidebar{
    .site-pusher{
      @include transform(translateX($menu-width *-1));
    }
    .site-cache{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(0,0,0,0.8);
    }
  }
}