/*===========================================================================
tablet format
===============================================================================*/
@media only screen and (min-width: 768px){
  /*===================================================================================
portfolio
=====================================================================================*/

    .media {
      background-image: url("../../img/sites/mac.png-vsnd");
      background-size: cover;
      @include border-radius(3px);
      width: 400px;
      height: 280px;
      .carousel-item {
        margin-top: 45px;
        margin-left: 15px;
        padding-bottom: 10px;
        width: 370px;
        height: 230px;
      }
      .link {
        width: 25px;
      }
      .photo {
        width: 300px;
        height: 300px;
      }
    }

}
/*===============================================================================
tablet landscape format
==================================================================================*/
@media only screen and (min-width: 1024px) {
/*=================================================================
menu hidden
===================================================================*/
  .menu-desktop{
    display: block;
    height: 66px;
    line-height: 66px;
    float: right;
    padding: 0 25px;
    a{
      padding: 0 10px;
    }
  }
  /*=====================================================================
header
  ====================================================================*/
  .header{
    border-bottom: 1px dashed grey;
  }
  .header_logo{
    padding: 0 40px;
  }
  .header_icon{
    display: none;
  }
  /*=========================================================================
  my picture
  =============================================================================*/
  .figure{
    display: block;
  }
  /*============================================================================
description
  ==============================================================================*/
  .title{
    h1{
      font-size: 45px;
    }
    p{
      font-size: 25px;
    }
  }

}