/*===========================================================================
tablet format
===============================================================================*/
@media only screen and (min-width: 768px){

}
/*===============================================================================
tablet landscape format
==================================================================================*/
@media only screen and (min-width: 1024px) {

  .menu-desktop{
    height: 66px;
    line-height: 66px;
    float: right;
    padding: 0 25px;
    a{
      padding: 0 10px;
    }
  }
  .header{
    border-bottom: 1px dashed grey;
  }
  .header_logo{
    padding: 0 40px;
    img{
      height: 66px;
    }
  }
  .header_icon{
    display: none;
  }
}