/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
$height-header:70px;
$menu-width:250px !default;
html, body{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.container{@include clearfix;}
.site-content{
  padding-top:$height-header;}
footer{
  background-color: #474747;
  img{
    height: 30px;
  }
}
@import "tablet";
@import "desktop";